<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Paste</title>
    <style>
      body {
        font-family: monospace;
        padding: 20px;
      }
      pre {
        white-space: pre-wrap;
        word-break: break-word;
      }
    </style>
  </head>
  <body>
    <pre><%= content %></pre>
  </body>
</html>
